* {
    all: unset; //Unsets everything so you can style everything from scratch
  }
  
  $surface-color: #CCD0DA;
  $contrast-color: #4C4F69;
  $accent-color: #F27878;
  
  .bar {
    background-color: $surface-color;
    color: $contrast-color;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 20px;
    margin-top: 20px;
  }
  
  // Styles on classes (see eww.yuck for more information)
  
  .sidestuff slider {
    all: unset;
    color: $surface-color;
  }
  
  .radio button {
    all: unset;
    min-width: 25px;
    min-height: 25px;
    margin-right: 10px;
    border-radius: 100%;
  }
  
  .radio button.unblocked {
    background-color: $accent-color;
  }
  
  .radio button.blocked {
    background-color: $contrast-color;
  }
  
  .metric scale trough highlight {
    all: unset;
    background-color: $accent-color;
    color: $contrast-color;
    border-radius: 10px;
  }
  
  .metric scale trough {
    all: unset;
    background-color: $contrast-color;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .metric scale trough highlight {
    all: unset;
    background-color: $accent-color;
    color: $contrast-color;
    border-radius: 10px;
  }
  
  .metric scale trough {
    all: unset;
    background-color: $contrast-color;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .label-ram {
    font-size: large;
  }
  
  .workspaces button:hover {
    color: $accent-color;
  }
  